@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Colfax';
    src: url('../../static/fonts/Colfax-Regular.woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Colfax';
    src: url('../../static/fonts/Colfax-RegularItalic.woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Colfax';
    src: url('../../static/fonts/Colfax-Medium.woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Colfax';
    src: url('../../static/fonts/Colfax-MediumItalic.woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Colfax';
    src: url('../../static/fonts/Colfax-Bold.woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Colfax';
    src: url('../../static/fonts/Colfax-BoldItalic.woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Barcode';
    src: url('../../static/fonts/LibreBarcode39ExtendedText-Regular.woff2');
}
